<section class="login d-flex align-items-center">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="login(loginForm)"
    class="register-form w-75 m-auto d-flex flex-column justify-content-center"
  >
    <h2 class="mb-4">Login form</h2>

    <div class="mb-2">
      <label> Email</label>
      <input
        formControlName="email"
        class="w-100 p-1 rounded-3 my-1"
        type="text"
      />
      <div
        *ngIf="
          loginForm.get('email')?.errors && loginForm.get('email')?.touched
        "
        class="alert alert-danger my-0 py-1"
      >
        <p class="my-0" *ngIf="loginForm.get('email')?.errors?.['required'] ">
          requierd
        </p>
        <p class="my-0" *ngIf="loginForm.get('email')?.errors?.['email']  ">
          Not Valid Email
        </p>
      </div>
    </div>

    <div class="mb-2">
      <label> Passowrd</label>
      <input
        formControlName="password"
        class="w-100 p-1 rounded-3 my-1"
        type="text"
      />
      <div
        *ngIf="
          loginForm.get('password')?.errors &&
          loginForm.get('password')?.touched
        "
        class="alert alert-danger my-0 py-1"
      >
        <p
          class="my-0"
          *ngIf="loginForm.get('password')?.errors?.['required'] "
        >
          requierd
        </p>
      </div>
    </div>

    <div *ngIf="isWrong" class="alert alert-danger my-0 py-1">
      <p class="my-0">Email or Password is Wrong</p>
    </div>

    <button
      [disabled]="loginForm.status == 'INVALID'"
      class="btn btn-primary mt-3"
      type="submit"
    >
      Login
    </button>
  </form>
</section>
