<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-fixed w-100">
  <div class="container-fluid">
    <a class="brand navbar-brand me-5 py-1" href="#">Noxe</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul *ngIf="isLogged" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Tv show</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">People</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contact</a>
        </li>
      </ul>
      <form *ngIf="isLogged" class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
      <i class="fa-brands fa-facebook text-light mx-2 fa-lg"></i>
      <i class="fa-brands fa-youtube text-light mx-2 fa-lg"></i>
      <i class="fa-brands fa-instagram text-light mx-2 fa-lg"></i>
      <i class="fa-brands fa-spotify text-light mx-2 fa-lg"></i>
      <div *ngIf="!isLogged; else logOut">
        <ul class="navbar-nav mb-2 mb-lg-0 mx-4">
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register">Register</a>
          </li>
        </ul>
      </div>
      <ng-template #logOut>
        <ul class="navbar-nav mb-2 mb-lg-0 ms-4">
          <li class="nav-item">
            <a class="nav-link" routerLink="login" (click)="loggingOut()"
              >LogOut</a
            >
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
