@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@400;500&family=Nunito:wght@700&family=Poppins:wght@500;800&display=swap");
body {
  background-color: #131722;
  color: white;
  font-family: "Montserrat", sans-serif;
}

input {
  font-size: 1.2rem;
  font-weight: 500;
}
.home,
.movie-details {
  padding-top: 100px !important;
}
